/*Responsive*/

@media screen and (max-width: 1280px) {
}

/* 992px - 1200px */
@media screen and (max-width: 1200px) {
  .header__content-title {
    font-size: 48px;
    line-height: 70px;
  }
  .services__items {
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .worcs__items-img {
    justify-content: space-evenly;
  }
  .worcs__item-img {
    margin: 0 10px 20px;
  }
  .price__item-card {
    margin: 0 10px 30px;
  }
  .team .team__slider .slick-dots {
    max-width: 153px;
  }
  .blog__item {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 1060px) {
  .contact__input {
    max-width: 100%;
  }
  .contact__form-mail {
    margin-left: 0;
  }
  .contact__btn {
    left: 50%;
    transform: translateX(-50%);
  }
}
// 1000

/* 768px - 992px */
@media screen and (max-width: 992px) {
  body.lock {
    overflow: hidden;
  }
  .section {
    padding: 90px 0 100px;
  }
  .title__box {
    margin-bottom: 70px;
  }
  .about {
    padding-top: 90px;
  }
  .about__items {
    flex-direction: column;
    align-items: center;
  }
  .about__item {
    min-height: 280px;
  }

  .menu {
    // position: relative;
  }
  .menu__list {
    position: absolute;
    display: block;
    top: 120px;
    padding-top: 30px;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: 2;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.9);
    transform: translateX(-100%);
    transition: all 0.5s ease;
    &.menu__list--active {
      transform: translateX(0);
    }
  }
  .menu__list-search {
    // position: absolute;
    // left: 50%;
    // transform: translateX(-50%);
    margin: 0 auto;
    svg {
      fill: #fff;
    }
  }
  .menu__list-item {
    margin-bottom: 10px;
  }
  .menu__list-item + .menu__list-item {
    padding-left: 0;
  }
  .menu__list-link {
    font-size: 24px;
    color: #fff;
    width: 100%;
    padding: 20px 0;
    &:hover {
      transform: translateX(10px);
    }
  }
  .menu__btn {
    display: block;
    position: relative;
    width: 50px;
    height: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    outline: none;
    padding: 0;
    top: -3px;
    &.menu__btn--active {
      span {
        background-color: #fff;
        &::before {
          transform: rotate(45deg);
          top: 17.5px;
        }
        &::after {
          transform: rotate(-45deg);
          bottom: 17.5px;
        }
      }
    }
    span {
      width: 100%;
      height: 4px;
      background-color: #000;
      transition: all 0.3s ease;
      &::before,
      &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 4px;
        background-color: #000;
        transition: all 0.3s ease;
      }
      &::before {
        top: 0;
        left: 0;
      }
      &::after {
        bottom: 0;
        left: 0;
      }
    }
  }
  .price__items-card {
    flex-direction: column;
    align-items: center;
  }
  .blog__item {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .blog__item-subtitle {
    max-width: 290px;
    margin: 0 auto;
  }
  .blog__item:nth-child(2) {
    flex-direction: column-reverse;
  }
  .blog__items {
    margin-bottom: 70px;
  }
  .blog__item--margin {
    margin: 0;
  }
}
@media screen and (max-width: 900px) {
  .team .team__slider {
    // align-items: center;
  }
}

/* 576px - 768px */
@media screen and (max-width: 768px) {
  .title__box .title {
    font-size: 28px;
    line-height: 32px;
  }
  .header__content-title {
    font-size: 34px;
  }
  .header__content-subtitle {
    font-size: 16px;
  }
  .header__btn-items {
    justify-content: space-evenly;
  }
  .header-btn {
    font-size: 16px;
  }
  .btn {
    font-size: 16px;
  }
  .section {
    padding: 70px 0 80px;
  }
  .box__btn-items {
    max-width: 100%;
    justify-content: space-evenly;
    margin-bottom: 70px;
  }
  .worcs__items-img {
    margin-bottom: 50px;
  }
  .blog__item-title {
    font-size: 24px;
    line-height: 28px;
  }
  .blog__item-subtitle {
    font-size: 16px;
    line-height: 24px;
    max-width: 270px;
  }
  .contact__item {
    font-size: 16px;
    line-height: 24px;
  }
  .contact__input {
    font-size: 16px;
    line-height: 24px;
  }
  .contact__item {
    svg {
      width: 80px;
      height: 80px;
    }
  }
  .contact__form-name,
  .contact__form-mail {
    height: 70px;
    margin-bottom: 25px;
  }
  .contact__form-text {
    height: 250px;
  }
  .contact__btn {
    font-size: 16px;
    line-height: 24px;
  }
  .footer__text {
    font-size: 16px;
    line-height: 24px;
  }
}

@media screen and (max-width: 640px) {
  .box__btn-items {
    max-width: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 70px;
  }
  .box__btn-item {
    margin: 0 10px 20px;
    max-width: 200px;
    width: 100%;
    text-align: center;
  }
  .contact__item {
    font-size: 14px;
    line-height: 21px;
  }
}

/* 320px - 576px */
@media screen and (max-width: 576px) {
  .title__box .title {
    font-size: 24px;
    line-height: 28px;
  }
  body {
    font-size: 14px;
    line-height: 21px;
  }
  .about {
    padding-top: 70px;
  }
  .about__item {
    min-height: 250px;
  }
  .title__box {
    margin-bottom: 50px;
  }
  .price__item-main {
    padding: 30px 0;
  }
  .price__item-card {
    padding-bottom: 50px;
  }
  .price__item-title {
    font-size: 24px;
    line-height: 28px;
  }
  .price__item-num span {
    font-size: 38px;
    line-height: 45px;
  }
  .price__item-header {
    padding-top: 30px;
    padding-bottom: 10px;
  }
  .blog__items {
    margin-bottom: 40px;
  }
  .contact__info {
    flex-direction: column;
    align-items: center;
    margin: 0 auto 30px;
  }
  .contact__item {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 480px) {
  .header__btn-items {
    max-width: 60%;
    flex-direction: column;
  }
  .header-btn {
    margin-bottom: 30px;
    font-size: 12px;
  }
  .header__content-title {
    font-size: 30px;
    line-height: 39px;
  }
  .header__content-subtitle {
    font-size: 16px;
    line-height: 25px;
  }
  .header__content {
    padding-top: 120px;
  }
  .scroll__btn {
    bottom: 30px;
  }
  .section {
    padding: 60px 0;
  }
  .services__item-text {
    padding: 0 10px;
  }
  .services__item {
    min-height: 420px;
  }
  .box__btn-items {
    margin-bottom: 50px;
  }
  .box__btn-item {
    max-width: 100%;
  }
  .worcs__items-img {
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 380px) {
  .header__content {
    padding-top: 80px;
  }
  .scroll__btn {
    bottom: 20px;
  }
  .header__btn-items {
    margin: 80px auto 0;
  }
  .price__item-texst {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 30px;
  }
  .price__item-card {
    padding-bottom: 35px;
  }
  .price__item-main {
    padding: 25px 0;
  }
}

@media screen and (max-width: 320px) {
  .header__content {
    padding-top: 40px;
  }
  .header__btn-items {
    margin: 40px auto 0;
  }
  .header-btn {
    margin-bottom: 20px;
  }
  .menu__list-item {
    margin-bottom: 0;
  }
  .scroll__btn {
    display: none;
  }
  .menu__list {
    padding-top: 10px;
  }
  // .services__item {
  //   max-width: 320px;
  // }
}
