// Шрифты Open Sans Bold, Semibold, Regular, Light

%openSans-light{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

%openSans-regular{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

%openSans-bold{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}
%roboto-bold{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

%openSans-semibold{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

$green:#00897b;
$color-text: #212121;